.banner{
	position:relative;
	width:100%;
	height: 120px;
	overflow:hidden;
	margin-bottom:20px;

}
.banner .img-list{
	position: absolute;
	width:7000px;
	left:0;
	top:0;

}
.banner .img-list li{
	float: left;
	width:980px;

}
.banner .img-list li img{
	width: 100%;
	height: 120px;
}
.banner .btn-list{
	position:absolute;
	bottom:10px;
	right:30px;
	z-index:2222;
}
.banner .btn-list li{
	float: left;
	margin-right: 10px;
	width:10px;
	height:10px;
	border-radius:50%;
	background:rgba(200,200,200,0.5);
	cursor:pointer;
}
.banner .btn-list li.on{
	background:#ff9645;
}
.shaixuan{
	width:100%;
	border:1px solid #eee;
	
}
.shaixuan .top {
	padding:15px 20px 15px 20px;
	background: #fff;
}
.shaixuan .top p{
	padding-bottom: 10px;
}
.shaixuan .top a{
	display:inline-block;
	margin-left: 15px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    color: #666;
}
.shaixuan .top a.active{
	color:#fff;
	background:#ff9500;
}
.shaixuan .top a:hover{
	color:#fff;
	background:#ff9500;
}
.shaixuan .bottom{
	background: #fafafa;
	padding:20px 20px 20px 20px;
}
.shaixuan .bottom>input{
	margin-top: 10px;
}
.shaixuan .bottom label{
	color:#666;
	line-height: 30px;
	cursor: pointer;
}
.shaixuan .bottom .search{
	position:relative;
	float: right;
}
.shaixuan .bottom .search .search-box{
	width: 214px;
    height: 24px;
    background: #fff;
    padding: 5px 30px 5px 20px;
    font-size: 12px;
    border: 0;
    color: #666;
    outline: none;
    font-family: 'Microsoft YaHei','SimSun';
}
.shaixuan .bottom .search .search-btn{
	position: absolute;
    right: 0;
    top: 0;
    background: url(../images/search-icon.png) no-repeat center #ff9500;
    width: 34px;
    height: 34px;
    display: block;
}
.restaurant-list li{
	width: 24.88%;
    height: 9.375rem;
    background: #fff;
    float: left;
    border-color: #f0f1f2;
    border-style: solid;
    border-width: 0 1px 1px 0;
}
.restaurant-list li a{
	padding: 20px 10px;
    display: block;
    height: 110px;
}
.restaurant-list li a .restaurantPic{
	float: left;
	width: 70px;
    height: 53px;
}
.restaurant-list li a .restaurantPic img{
	width: 70px;
    height: 53px;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}
.restaurant-list li a .restaurantInfo{
	float: right;
	width: 140px;
}
.restaurant-list li a .restaurantInfo h3{
	height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.restaurant-list li a .restaurantInfo span{
	display: inline-block;
	vertical-align: middle;
}
.restaurant-list li a .restaurantInfo .location-icon{
	
	width: 11px;
    height: 12px;
    background: url(../images/location-icon.png) no-repeat center;
    margin-right: 5px;
}
.restaurant-list li a .restaurantInfo .yd{
	margin: 10px;
	float: right;
	width: 64px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background: url(../images/shoplist-yd-bg.png) no-repeat center;
	display: block;
	text-align: center;	
	font-size: 12px;
}
.restaurant-list li a .restaurantInfo .yd .kyd{
	display: block;
}
.restaurant-list li:hover .restaurantInfo .yd .kyd{
	display: none;
}
.restaurant-list li a .restaurantInfo .yd .time{
	display: none;
	text-align: right;
}
.restaurant-list li a:hover .yd{
	width: 136px;
	background: url(../images/shoplist-yd-bg3.png) no-repeat center;
	padding-right: 14px;
}
.restaurant-list li a:hover .yd .time{
	display: block;
}
.restaurant-list li a:hover h3{
	color:#f80;
}
.restaurant-list li:hover{
	background-color: #eaeaea;
}
